
@{
    ViewData["Title"] = "dicas";
}

<h2>dicas</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Bem vindo a Orlando!</title>
</head>

<body>
    <header></header>
    <main>
        <ul>
            <li><a href="index.htm" class="active">INICIO</a></li>
            <li><a href="metro.htm">TRANSPORTE</a></li>
            <li><a href="dicas.htm">DICAS</a></li>
            <li><a href="cadastro.htm">CADASTRO</a></li>
            <li><a href="restaurante.htm">PALPITE</a></li>
            <li><a href="album.htm">ALBUM</a></li>
            <li><a href="pagamento.htm">PLANOS</a></li>
        </ul>
        <div class="quadroprincipal">
            <h1>Restaurantes e Pub's mais famosos de Orlando</h1>
            <h3>Orlando, 12 de Junho de 2019.</h3>
            <div class="quadroimagem" id="imagem7"></div>
            <table>
                <tr>
                    <th>Nome da Dica</th>
                    <th>Nota no Google</th>
                    <th>Localização</th>
                    <th>Horário</th>
                    <th>Valor Médio</th>
                    <th>Telefone</th>

                </tr>
                <tr>
                    <td>The Pub Orlando</td>
                    <td>4.2 <i class="fas fa-star"></i></td>
                    <td>9101 International Dr #1003, Orlando, FL 32819, EUA</td>
                    <td>11:00 até 02:00</td>
                    <td>
                        <i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i>
                    </td>
                    <td>+1 407-352-2305</td>
                    <td>
                        <iframe width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Lion's Pride Orlando</td>
                    <td>4.1 <i class="fas fa-star"></i></td>
                    <td>123 W Church St, Orlando, FL 32801, EUA</td>
                    <td>11:00 até 23:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>
                        +1 407-203-4099
                    </td>
                    <td>
                        <iframe width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Harp & Celt Irish Pub & Restaurant</td>
                    <td>4.5 <i class="fas fa-star"></i></td>
                    <td>25 S Magnolia Ave, Orlando, FL 32801, EUA</td>
                    <td>11:00 até 01:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>+1 407-481-2928</td>
                    <td>
                        <iframe width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>Miller's Ale House - Orlando I - Drive</td>
                    <td>4.3 <i class="fas fa-star"></i></td>
                    <td>8963 International Dr, Orlando, FL 32819, EUA</td>
                    <td>11:00 até 02:00</td>
                    <td>
                        <i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i>
                    </td>
                    <td>+1 407-370-6688</td>
                    <td>
                        <iframe width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
                <tr>
                    <td>BJ's Restaurant & Brewhouse</td>
                    <td>4.3 <i class="fas fa-star"></i></td>
                    <td>8103 International Dr, Orlando, FL 32819, EUA</td>
                    <td>11:00 até 00:00</td>
                    <td><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i></td>
                    <td>+1 321-732-8190</td>
                    <td>
                        <iframe width="72" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                allowTransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer></footer>
</body>

</html>