
@{
    ViewData["Title"] = "metro";
}

<h2>metro</h2>

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/estilo.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Bem vindo a Orlando!</title>
</head>

<body>
    <header></header>
    <main>
        <ul>
            <li><a href="index.htm" class="active">PÁGINA INICIAL</a></li>
            <li><a href="metro.htm">TRANSPORTE</a></li>
            <li><a href="dicas.htm">DICAS</a></li>
            <li><a href="cadastro.htm">CADASTRO</a></li>
            <li><a href="restaurante.htm">PALPITE</a></li>
            <li><a href="album.htm">ALBUM</a></li>
            <li><a href="pagamento.htm">PLANOS</a></li>
        </ul>
        <div class="quadroprincipal">
            <h1>Walt Disney World Resort</h1>
            <h3>Orlando, 12 de junho de 2019.</h3>
            <div class="quadroimagem" id="imagem1">
            </div>
            <strong>
                Walt disney world resort.
            </strong>
            <a href="#" class="capsula">
                <i class="far fa-newspaper" style="font-size:24px;"></i> Leia mais
            </a>
            <blockquote class="corpolegal" id="corpounico" cite="https://pt.wikipedia.org/wiki/Walt_Disney_World_Resort">
                Walt Disney World Resort, comumente conhecido como Walt Disney World e informalmente Disney World, é o
                resort de entretenimento mais visitado em todo o mundo, situado em Bay Lake, Flórida, próxima a cidade
                de Orlando. O resort foi aberto em 1 de outubro de 1971 e recebe anualmente mais de 52 milhões de
                pessoas em seus parques temáticos e hóteis.
            </blockquote>
        </div>
        <br>
        <div class="quadroprincipal">
            <h1>Universal Studios</h1>
            <h3>Orlando, 12 de junho de 2019.</h3>
            <div class="quadroimagem" id="imagem2"></div>
            <strong>
                Islands of Adventure
            </strong>
            <a href="#" class="capsula">
                <i class="far fa-newspaper" style="font-size:24px;"></i> Leia mais
            </a>
            <blockquote class="corpolegal" cite="https://www.travelandy.com.br/complexo-universal-em-orlando">
                Este parque está dividido em 7 áreas temáticas, sendo elas: Marvel Super Hero Island, Toon Lagoon,
                Jurassic Park (meu preferido), The Wizarding World of Harry Potter, The Lost Continent, e Seuss Landing.
                O Islands of Adventure pode ser considerado um dos parques mais radicais de Orlando.
                É lá também que você encontra o Castelo do Harry Potter que já é lindo só de olhar por fora, mas o
                melhor de tudo, você pode entrar dentro do castelo, lá dentro tem uma atração chamada Harry Potter and
                the Forbidden Journey, se você for nesta atração você já conhecerá o castelo por dentro. Caso seja muito
                radical para você, faça como eu, e faça apenas o tour para conhecer o castelo.
            </blockquote>
        </div>
    </main>
    <footer></footer>
</body>

</html>